@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;0,900;1,800&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Glory:ital,wght@0,100..800;1,100..800&family=Kumbh+Sans:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

header {
  border-radius: 0 0 40 40;
}

nav {
  background-image: url(../images/bg-logo.png);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: 2% -15px;
}

/* hamburger menu */

.hamburger {
  display: none;
  cursor: pointer;
}

.mobile-nav {
  display: none;
}

.m-nav-link {
  display: none;
}

.navbar {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 28px;
  padding-bottom: 60px;
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.left-nav a {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #003459;
  text-decoration: none;
}



form {
  display: flex;
  gap: 14px;
  width: 615px;
  padding-right: 80px;
}

form .input {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #fdfdfd;
  width: 280px;
  /* height: 44px; */
  border-radius: 46px;
  padding: 12px 20px 12px 16px;
  gap: 12px;
}

form img {
  width: 16.68px;
  /* height: 16.66px; */
  top: 1.65px;
  left: 1.65px;
}

form input {
  width: 153px;
  /* height: 20px; */
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border: none;
}

form input:focus {
  outline: 0;
}

form button {
  background-color: #003459;
  width: 203px;
  /* height: 44px; */
  border-radius: 57px;
  padding: 14px 28px 10px 28px;
  color: #fff;
}

form .nav-dropdown {
  width: 104px;
  /* height: 44px; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 10px 8px 8px 8px;
}

form select {
  border: none;
}

/*  */

.card {
  width: 100%;
  background-color: #fdfdfd;
  border-radius: 12px;
  padding: 8px 8px 0px 8px;
  gap: 8px;
  margin: auto;
  box-shadow: 0px 4px 28px -2px #00000014;
}
.card-img img {
  width: 100%;
  border-radius: 10px;
  margin: auto;
}

.card-desc {
  width: 100%;
  line-height: 24px;
}

.card-desc h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.details {
  width: 80%;
  display: flex;
  gap: 20px;
}

.details-img {
  width: 100%;
}

.m-main-img {
  display: none;
}

.thumbnails {
  width: 100%;
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.m-thumnails {
  display: none;
}

.guarantee {
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 12px 9px 12px;
  border-radius: 10px;
}

.mobile-guarantee {
  display: none;
}

.share-social {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.social-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.share {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 10px;
}

.details-text {
  width: 100%;
  /* padding: 20px; */
}

.details-text .head p {
  font-size: 14px;
  color: #667479;
}

.details-text .head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 8px;
}

.details-text h4 {
  font-size: 14px;
  font-weight: 500;
  color: #99a2a5;
  margin: 10px;
}

.details-text h1 {
  font-size: 24px;
  font-size: 700;
  padding: 10px;
  color: #003459;
}

.details-text h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
  color: #003459;
}

table {
  width: 100%;
  padding: 38px 0px;
  display: flex;
  margin: 10px;
  align-items: left;
  gap: 150px;
}
tr {
  padding: 130px;
}

td {
  width: 194px;
  border-bottom: 1px solid #ebeeef;
  padding: 8px 0px 8px 0px;
  font-size: 14px;
  font-weight: 500;
  /* margin: 70px; */
  color: #667479;
}

.customer h1{
  margin: 20px 0px;
}



.customer .customer-img{
  /* width: 80%; */
  display: flex;
  gap: 10px;
  border-radius: 10px;
  
}

.customer .customer-img img{
  width: 100%;
  border-radius: 10px;
}

.mobile-customer{
  display: none;
}


/* .details-text .head p {
  display: flex;
} */

.product {
  margin: 54px 0px;
}

.product-header h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #003459;
}

.product-btn {
  display: flex;
  gap: 10px;
  margin: 10px;
}

.product-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  /* height: 48px; */
  background-color: #003459;
  color: #fff;
  border-radius: 57px;
  border: 1.5px solid #003459;
  gap: 8px;
  margin-top: 10px;
  padding: 10px;
}

.product-btn button:last-child {
  width: 217px;
  background-color: transparent;
  color: #003459;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.product-page {
  width: 70%;
}

.product-page .product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-page .product-header .sub-head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-header button {
  width: 165px;
}

.product-body {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* footer */

footer {
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );

  width: 100%;
  min-height: 440px;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  padding: 3rem 1rem;
}

.top-half {
  /* max-width: 1140px; */
  width: 100%;
  /* height: 200px; */
  margin: 0 auto;
  border-bottom: 1px solid #ccd1d2;
  /* padding: 0px 0px 40px 0px; */
  gap: 40px;
  display: flex;
  flex-direction: column;
  /* padding: 80px; */
  /* align-items: center; */
  /* justify-content: center; */
  /* position: absolute; */
  /* top: 80px; */
  /* left: 130px; */
}

.top-half form {
  background-color: #003459;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 116px; */
  padding: 32px;
  border-radius: 16px;
  gap: 20px;
}

.top-half form label {
  width: 30%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.top-half form > div {
  width: 70%;
  background-color: #fff;
  /* height: 52px; */
  padding: 12px;
  gap: 12px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-half form > div input {
  width: 65%;
  height: 42px;
  padding: 14px 28px 14px 28px;
  border-radius: 8px;
  border: 1px solid #99a2a5;
  gap: 10px;
}

.top-half form > div input:focus {
  border: 0px;
  outline: none;
}

.top-half form > div button {
  width: 35%;
  border-radius: 13px;
}

.top-half .nav-socials {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.nav,
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #00171f;
  font-size: 16px;
  font-weight: 500;
}

.socials img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.low-half {
  width: 80%;
  margin: 40px auto;
  /* position: absolute; */
  /* top: 360px; */
  /* left: 130px; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* column-gap: 100px; */
  /* padding-bottom: 50px; */
}

.policy {
  /* width: 33.33%; */
  display: flex;
  justify-content: space-around;
  gap: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {

  
  nav {
    display: none;
  }
  .left-nav  {
    display: none;
  }
  .navbar form {
    display: none;
  }
  .left-nav img {
    text-align: center;
  }

  header {
    width: 100%;
  }

  /* mobile navigation */

  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .m-nav-link {
    display: none;
  }

  .m-nav-link {
    transition: 0.3s;
  }

  .m-nav-link.active {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: transparent;

    /* padding: 0 20px; */
    text-align: center;
    border-radius: 20px;
    margin-left: 10px;
  }

  .m-nav-link a {
    font-size: 18px;
    text-decoration: none;
    padding: 15px 0px;
    color: #003459;
    font-weight: 700;
    transition: 0.3s ease;
  }

  .m-nav-link a:hover {
    color: #ffb775;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
  }

  .mobile-nav {
    background-image: url(../images/bg-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    display: flex;
    justify-content: space-around;
    /* margin-top: 10px; */
    padding: 0 14px 25px 10px;
  }

  .mobile-nav .search {
    max-width: 30px;
  }

  .mobile-nav .search form {
    width: 50px;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
  }

  .mobile-nav .search :is(input, img) {
    background-color: transparent;
    border: none;
    outline: none;
  }

  .mobile-nav .search form input {
    width: 0;
    transition: width 0.3s;
  }

  .mobile-nav .search:focus-within input{
    width: 60px;

  }



  .details {
    width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 100px; */
    
  }

  .details-img {
    width: 100%;
margin: auto;
    /* padding-right: 400px; */
  }

  .main-img{
    display: none;
  }
  .m-main-img {
    display: block;
    border-radius: 10px;
  }

  .m-main-img img {
    border-radius: 10px;
  }

  .details .m-thumnails {
    display: flex;
    width: 100%;
    /* object-fit: cover; */
    gap: 10px;
  }

  .details .thumbnails {
    display: none;
  }

  .guarantee {
    display: none;
  }

  .mobile-guarantee {
    width: 100%;
    background: linear-gradient(
      102.87deg,
      #fceed5 6.43%,
      #fceed5 78.33%,
      #ffe7ba 104.24%
    );
    display: flex;
    flex-direction: column;
    padding: 9px 12px 9px 12px;
    border-radius: 10px;
  }

  .mobile-guarantee>div{
    display: flex;
    align-items: center;
    margin: 5px 0px;
    gap: 10px;
  }

  .customer {
    display: none;
  }

  .mobile-customer {
    width: 100%;
    display: grid;
    gap: 20px;
    
  }

  .mobile-customer h1{
    text-align: left;
    padding: 20px;
  }

  .mobile-customer .customer-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .product-header p{
    display: none;
  }

  .product-body {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }

  

  
  footer {
    width: 100%;
    display: block;
  }

  .top-half {
    width: 90%;
    justify-content: center;
    align-items: center;
    left: 25px;
    top: 39px;
  }

  .top-half form {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: auto; */
    /* margin: 0; */
    /* padding: 0; */
  }

  .top-half form label {
    width: 100%;
  }

  .input-btn {
    flex-direction: column;
    /* height: 80px; */
  }

  .top-half form > div input {
    width: 100%;
  }

  /* .top-half form > .input button#btn {
    background-color: #d70b63;
    width: 100%;
  } */

  form button#btn {
    width: 100%;
    /* height: 44px; */
    gap: 20px;
    border-radius: 12px;
    padding: 14px 28px 10px 28px;
    color: #fff;
  }

  .top-half form > div {
    width: 100%;
    background-color: #fff;
    padding: 12px;
    gap: 2px;
    border-radius: 14px;
    display: flex;
  }

  .nav-socials {
    flex-direction: column;
    row-gap: 18px;
  }

  .nav {
    width: 100%;
    justify-content: space-around;
  }

  .socials {
    margin-bottom: 0px;
  }

  .low-half {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "terms"
      "policy";
    width: 100%;
    margin: 40px auto;
    text-align: center;
    gap: 22px;
  }

  .policy {
    grid-area: terms;
    justify-content: center;
  }

  footer .footer-logo {
    grid-area: img;
  }
  .card {
    width: 100%;
    margin: auto;
  }

  .card-img img {
    width: 100%;
  }

  .card-desc {
    width: 100%;
  }
}
