@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;0,900;1,800&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Glory:ital,wght@0,100..800;1,100..800&family=Kumbh+Sans:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

header {
  border-radius: 0 0 40 40;
}

/* hamburger menu */

.hamburger {
  display: none;
  cursor: pointer;
}

.mobile-nav {
  display: none;
}

.m-nav-link {
  display: none;
}

.navbar {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 28px;
  padding-bottom: 60px;
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.left-nav a {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #003459;
  text-decoration: none;
}

nav form {
  display: flex;
  gap: 14px;
  width: 615px;
  padding-right: 80px;
}

nav form .input {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #fdfdfd;
  width: 280px;
  /* height: 44px; */
  border-radius: 46px;
  padding: 12px 20px 12px 16px;
  gap: 12px;
}

nav form img {
  width: 16.68px;
  /* height: 16.66px; */
  top: 1.65px;
  left: 1.65px;
}

nav form input {
  width: 153px;
  /* height: 20px; */
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border: none;
}

nav form input:focus {
  outline: 0;
}

nav form button {
  background-color: #003459;
  width: 203px;
  /* height: 44px; */
  border-radius: 57px;
  padding: 14px 28px 10px 28px;
  color: #fff;
}

nav form .nav-dropdown {
  width: 104px;
  /* height: 44px; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 10px 8px 8px 8px;
}

nav form select {
  border: none;
}

.hero {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 40% 60%;
}

.hero-text {
  background-image: url(../images/bg-text.png);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: -1% 10%;
  width: 100%;
  padding-top: 30px;
}

.hero-text h1 {
  font-size: 50px;
  font-weight: 800;
  color: #002a48;
  line-height: 68px;
}

.hero-text h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  color: #002a48;
}

.hero-text p {
  color: #002a48;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.hero-btn {
  display: flex;
  gap: 20px;
}

.hero-text button {
  width: 161px;
  /* height: 48px; */
  border-radius: 57px;
  border: 1.5px solid #003459;
  gap: 8px;
  margin-top: 20px;
  padding: 14px 28px 10px 28px;
}

.hero-text button:first-child {
  background-color: transparent;
  color: #003459;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.hero-text button:last-child {
  background-color: #003459;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.card {
  width: 100%;
  background-color: #fdfdfd;
  border-radius: 12px;
  padding: 8px 8px 0px 8px;
  gap: 8px;
  margin: auto;
  box-shadow: 0px 4px 28px -2px #00000014;
}
.card-img img {
  width: 100%;
  border-radius: 10px;
  margin: auto;
}

.card-desc {
  width: 100%;
  line-height: 24px;
}

.card-desc h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.features button {
  display: none;
}

.feature-banner {
  background-color: #003459;
  background-image: url(../images/Rectangle-9.png),
    url(../images/Rectangle1.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right, bottom left;
  background-size: calc(57%);
  width: 80%;
  /* height: 378px; */
  margin: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.feature-img {
  width: 50%;
  /* object-fit: cover; */
}

.feature-img img {
  width: 100%;
  /* height: 342px; */
}
.feature-banner .hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  font-size: 16px;
  padding: 36px;
}

.feature-banner .hero-text h1 {
  font-size: 42px;
}

.feature-banner .hero-text p {
  font: 12px;
}

.feature-banner button {
  /* width: 120px; */
  margin-top: 0;
}

main {
  width: 80%;
  display: flex;
  margin: 20px auto;
}

.side-bar {
  width: 30%;
  display: flex;
  flex-direction: column;
  /* display: block; */
}

.side-bar form {
  margin: 10px 0px;
  width: 100%;
}

.side-bar form input, .side-bar form label {
  margin: 10px 0px;
}

.gender h1{
padding-bottom: 10px;
}

.gender form {
  border-bottom: 1px solid #EBEEEF;
}

.color form {
  border-bottom: 1px solid #EBEEEF;
  align-self: center;
}

.side-bar .price form {
  display: flex;
  align-items: center;
  gap: 20px;
  border: none;
  border-bottom: 1px solid #EBEEEF;
}

.side-bar .price form input {
  width: 100px;
}

.breed {
  border-top: 1px solid #EBEEEF;
}

.breed form {
  border-bottom: 1px solid #EBEEEF;
 
}

.product-page {
  width: 70%;
}

.m-product-body {
  display: none;
}

.m-product-header{
  display: none;
}

.product-page .product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-page .product-header .sub-head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-header button {
  width: 165px;
  border: none;
  background-color: transparent;
}



.product-header form {
  font-size: 14px;
  font-weight: 500;
  color: #667479;
  background-color: transparent;
  border: 1px solid #ccd1d2;
  border-radius: 20px;
  outline: none;
  padding: 6px 10px 4px 20px;
}

.product-header form select {
  background-color: transparent;
  border: 0;
  outline: 0;
}

.product-body {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/* footer */

footer {
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );

  width: 100%;
  min-height: 440px;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  padding: 3rem 1rem;
}

.top-half {
  /* max-width: 1140px; */
  width: 100%;
  /* height: 200px; */
  margin: 0 auto;
  border-bottom: 1px solid #ccd1d2;
  /* padding: 0px 0px 40px 0px; */
  gap: 40px;
  display: flex;
  flex-direction: column;
  /* padding: 80px; */
  /* align-items: center; */
  /* justify-content: center; */
  /* position: absolute; */
  /* top: 80px; */
  /* left: 130px; */
}

.top-half form {
  background-color: #003459;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 116px; */
  padding: 32px;
  border-radius: 16px;
  gap: 20px;
}

.top-half form label {
  width: 30%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.top-half form > div {
  width: 70%;
  background-color: #fff;
  /* height: 52px; */
  padding: 12px;
  gap: 12px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-half form > div input {
  width: 65%;
  height: 42px;
  padding: 14px 28px 14px 28px;
  border-radius: 8px;
  border: 1px solid #99a2a5;
  gap: 10px;
}

.top-half form > div input:focus {
  border: 0px;
  outline: none;
}

.top-half form > div button {
  width: 35%;
  border-radius: 13px;
}

.top-half .nav-socials {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.nav,
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #00171f;
  font-size: 16px;
  font-weight: 500;
}

.socials img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.low-half {
  width: 80%;
  margin: 40px auto;
  /* position: absolute; */
  /* top: 360px; */
  /* left: 130px; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* column-gap: 100px; */
  /* padding-bottom: 50px; */
}

.policy {
  /* width: 33.33%; */
  display: flex;
  justify-content: space-around;
  gap: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 20px;
  }
  nav {
    display: none;
  }
  .left-nav  {
    display: none;
  }
  .navbar form {
    display: none;
  }
  .left-nav img {
    text-align: center;
  }

  header {
    width: 100%;
  }

  /* mobile navigation */

  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .m-nav-link {
    display: none;
  }

  .m-nav-link {
    transition: 0.3s;
  }

  .m-nav-link.active {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: transparent;

    /* padding: 0 20px; */
    text-align: center;
    border-radius: 20px;
    margin-left: 10px;
  }

   

  .m-nav-link a {
    font-size: 18px;
    text-decoration: none;
    padding: 15px 0px;
    color: #003459;
    font-weight: 700;
    transition: 0.3s ease;
  }

  .m-nav-link a:hover {
    color: #ffb775;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
  }

  .mobile-nav {
    background-image: url(../images/bg-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    display: flex;
    justify-content: space-around;
    /* margin-top: 10px; */
    padding: 2px 14px 25px 10px;
  }

  .mobile-nav .search {
    max-width: 30px;
  }

  .mobile-nav .search form {
    width: 50px;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
  }

  .mobile-nav .search :is(input, img) {
    background-color: transparent;
    border: none;
    outline: none;
  }

  .mobile-nav .search form input {
    width: 0;
    transition: width 0.3s;
  }

  .mobile-nav .search:focus-within input{
    width: 60px;

  }


  header {
    width: 100%;
  }

  .hero {
    width: 100%;
    margin: auto;
    /* padding: 20px; */
    gap: 44px;
    grid-template-columns: 1fr;
  }
  .hero-text,
  .hero-img {
    width: 100%;
    text-align: left;
    padding: 20px;
  }

  .hero-img {
    margin: auto;
    padding: 0;
  }

  .hero-text button {
    /* margin: auto; */
    gap: 2px;
    margin-top: 10px;
  }
  .features {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    gap: 5px;
  }

  /* #whatsnew {
    width: 100%;
    margin: auto;
  } */

  #whatsnew button {
    width: 80%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 57px;
    border: 1.5px solid rgba(0, 52, 89, 1);
    gap: 8px;
    color: #003459;
    font-size: 16px;
    font-weight: 500;
  }

  .features-header .sub-header h4 {
    font-size: 20px;
    font-weight: 700;
  }

  .features-header button {
    display: none;
  }

  .feature-banner {
    background-image: url(../mobile-images/bg-feature-b-pink.svg),
      url(../mobile-images/bg-feature-b-blue.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-size: 100% 60%, 100% 30%;
    background-color: #003459;
    width: 100%;
    flex-direction: column-reverse;
  }

  .feature-banner .hero-text {
    width: 100%;
    background-image: none;
  }

  .feature-banner .hero-text h1 {
    font-size: 36px;
    font-weight: 800;
    line-height: 54px;
  }

  .feature-banner .hero-text h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }

  .feature-banner .feature-img,
  .feature-banner .hero-text {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  main {
    flex-direction: column;
    width: 100%;
  }

  .product-page .product-header {
    display: none;
  }

  /* .m-product-header {
    display: flex;
  } */

  .ph-top {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  .filter {
    display: flex;
    align-items: center;
    gap: 5px;
  }  

  .ph-top button {
    width: 165px;
    border: none;
    background-color: transparent;
  }

  .ph-top form {
    font-size: 14px;
    font-weight: 500;
    color: #667479;
    background-color: transparent;
    border: 1px solid #ccd1d2;
    border-radius: 20px;
    outline: none;
    padding: 6px 10px 4px 20px;
  }

  .ph-top form select {
    background-color: transparent;
    border: 0;
    outline: 0;
  }

  .m-sub-head {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .m-product-header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .product-page {
    width: 100%;
  }

  .side-bar {
    display: none;
  }

.product-body {
  display: none;
}

  .m-product-body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }

  #our-product,
  .our-product {
    display: none;
  }

  .sponsors-body,
  #sponsors {
    display: none;
  }

  .adoption {
    display: none;
  }

  #yak {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 8px;
  }

  #yak .card {
    width: 100%;
    height: auto;
    margin: 10px;
  }

  .yak .features-header h4 {
    color: #003459;
  }

  .yak-body button {
    width: 100%;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 48px;
    color: #003459;
    border: 1.5px solid #003459;
    padding: 14px 28px 14px 28px;
    gap: 8px;
  }

  footer {
    width: 100%;
    display: block;
  }

  .top-half {
    width: 90%;
    justify-content: center;
    align-items: center;
    left: 25px;
    top: 39px;
  }

  .top-half form {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: auto; */
    /* margin: 0; */
    /* padding: 0; */
  }

  .top-half form label {
    width: 100%;
  }

  .input-btn {
    flex-direction: column;
    /* height: 80px; */
  }

  .top-half form > div input {
    width: 100%;
  }

  /* .top-half form > .input button#btn {
    background-color: #d70b63;
    width: 100%;
  } */

  form button#btn {
    width: 100%;
    /* height: 44px; */
    gap: 20px;
    border-radius: 12px;
    padding: 14px 28px 10px 28px;
    color: #fff;
  }

  .top-half form > div {
    width: 100%;
    background-color: #fff;
    padding: 12px;
    gap: 2px;
    border-radius: 14px;
    display: flex;
  }

  .nav-socials {
    flex-direction: column;
    row-gap: 18px;
  }

  .nav {
    width: 100%;
    justify-content: space-around;
  }

  .socials {
    margin-bottom: 0px;
  }

  .low-half {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "terms"
      "policy";
    width: 100%;
    margin: 40px auto;
    text-align: center;
    gap: 22px;
  }

  .policy {
    grid-area: terms;
    justify-content: center;
  }

  footer .footer-logo {
    grid-area: img;
  }
  .card {
    width: 100%;
    margin: auto;
  }

  .card-img img {
    width: 100%;
  }

  .card-desc {
    width: 100%;
  }
}
